div button{
    display: inline;
    margin-right: 5px;
    margin-left: 50px;
    font-size: 20px;
    border-radius: 6px;
}

button :active{
    background-color: blue;
    color: antiquewhite
}

div form{
    margin-right: 5px;
}

label{
    margin-bottom: 15px;
    margin-right: 15px;
    margin-left: 35px; 
}







