<div class="text-center">
  <div class="text-left">
    <button class="btn btn-default" style="margin-bottom: 15px;" (click)="onCreate()">Create Project</button>
    <button class="btn btn-default" style="margin-bottom: 15px;" (click)="onOpen()">Open Project</button> 
  </div>

  <div class="container text-left" [hidden]=!create>
    <form>
      <table>
        <tr>
          <td><label>Project Name: </label></td> 
          <td><input type="text" name="prjname" placeholder="enter project name here" class="form-control"><br/></td>
        </tr>
        <tr>
          <td><label>Project URL: </label></td> 
          <td><input type="text" name="projecturl" placeholder="enter URL here" class="form-control"><br/></td>
        </tr>
        <tr>
          <td><label>Project GIT URL: </label></td> 
          <td><input type="text" name="projectgit" placeholder="enter GIT URL here" class="form-control"><br/></td>
        </tr>
        <tr>
          <td><label>Project Path: </label></td>
          <td><input type="text" name="projectpath" placeholder="enter project Path here" class="form-control"><br/></td>
        </tr>
        <tr>
          <td></td>
          <td style="text-align: right"><button class="btn btn-primary" (click)=onClick()>Save</button></td>
        </tr>
      </table>
    </form>
  </div>


  <div class="container text-left" [hidden]=!open>
    <form>
      <table>
        <tr>
          <td><input type="text" name="searchprjname" placeholder="enter project name here" style="margin-bottom:15px;  margin-top: 15px; margin-left:35px;" class="form-control"></td>
          <td><button class="btn btn-default" style="font-size: 14px;"><span class="glyphicon glyphicon-search"></span>Search</button></td>
        </tr>
        <tr>
          <td></td>
          <td style="text-align: right"><button class="btn btn-primary">Next</button></td>
        </tr>  
      </table>    
    </form>
  </div>
</div>





