<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a href="#" style="cursor: pointer;"><h3>Automation Framework</h3></a>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="#" style="cursor: pointer;">Properties</a></li>
      <li><a href="#" style="cursor: pointer;">Create Test</a></li>
      <li><a href="#" style="cursor: pointer;">Open Test</a></li>
      <li><a href="#" style="cursor: pointer;">Reports</a></li>
      <li><a href="#" style="cursor: pointer;">xyz</a></li>
    </ul>
  </div>
</nav>
<div class="row text-center">
  <div class="col-md-6">
    <app-project-details></app-project-details>
  </div>
  <div class="col-md-6">
    <app-project-properties></app-project-properties>
  </div>
</div>
