<div class="container text-left" (showProperties)="onShowProps($event)">
  <form>
    <table>
      <tr>
        <td style="text-align: center"><label style="margin-right: 15px;">Project Name:</label></td> 
        <td><input placeholder="project name comes here" class="form-control"></td>
      </tr>
      <tr>
        <td style="text-align: center"><input type="checkbox" name="toolImport"></td>
        <td><label>Check here to use Test Management Tools</label></td>
      </tr>
      <tr>
        <td style="text-align: center"><label>Choose a Tool:</label></td>
        <td>
          <div class="dropdown">
            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Choose a option
              <span class="caret"></span></button>
            <ul class="dropdown-menu">
              <li><a href="#">ALM</a></li>
              <li><a href="#">JIRA</a></li>
            </ul>
          </div>
        </td>
      </tr>
      <tr>
        <td><label>Choose process to sync reports:</label></td>
        <td  style="text-align: center">
          <div class="radio-inline">
              <label style="margin-right:50px;"><input type="radio" name="sync" value="Autosync">Autosync</label>
              <label><input type="radio" name="sync" value="Manualsync">Manualsync</label>
          </div>
        </td>
      </tr>
      <tr>
        <td></td>  
        <td style="text-align: right"><button class="btn btn-primary">Create/Update Object Repository</button></td>
      </tr>
    </table>
  </form>
</div>
